.navbar-brand {
	padding: 0px !important;
}

html, body {
	background-color: white;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

section {
	top: 50px;
	bottom: 30px;
	padding: 0;
	margin-top: 5px;
	margin-bottom: 5px;
	position: fixed;
}

ng-header {
	height: 51px !important;
}

footer {
	bottom: 0;
	position: fixed;
	height: 30px;
	right: 0;
	left: 0;
	background-color: #f8f8f8;
	border-color: #e7e7e7;
	border-width: 1px 0 0 0;
	border: 1px solid transparent;
	z-index:1030;
}

div[ng-view] {
	height: 100%;
}

div {
	Box-sizing: Border-box
}

a {
	cursor: pointer;
}