﻿<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#"><img alt="Bluescale"
				src="img/logo.png" style="width: 144px; height: 50px"
				class="img-responsive"></img></a>
		</div>
		<div class="collapse navbar-collapse navbar-right" id="navbar1">
			<ul class="nav navbar-nav">
				<!-- <li ng-class="{ active: isActive('/login')}"><a href="#/login" ng-hide="authenticated">Login</a></li>
				<li ng-class="{ active: isActive('/dump')}"><a href="#/dump" ng-show="authenticated">Dumps</a></li>
				<li ng-class="{ active: isActive('/dossier')}"><a href="#/dossier" ng-show="authenticated">Dossiers</a></li>-->
				<li><a ng-click="logout()" ng-show="authenticated"  title="Déconnexion"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Se déconnecter</a></li>
				<form th:action="@{/logout}" id="logoutForm" method="post" >
					<input type="hidden" value="Sign Out" />
				</form>
			</ul>
		</div>
	</div>
</nav>

<form th:action="@{/logout}" method="post">
	<input type="submit" value="Sign Out" />
</form>